TIKTOK_USERNAME=temuibai@gmail.com
TIKTOK_PASSWORD=Tiktrack_123
DATABASE_URL=postgresql://user:password@public-host:port/database
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CHROME_HEADLESS=false
